.border{
    border: 2px solid red;
    margin: 2px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* For Webkit browsers */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #555 #333;
}

/* For IE and Edge */
body {
    scrollbar-face-color: #555;
    scrollbar-shadow-color: #333;
    scrollbar-highlight-color: #333;
    scrollbar-3dlight-color: #333;
    scrollbar-darkshadow-color: #333;
    scrollbar-arrow-color: #333;
}
